:root {
  --basic-black: #000000;
  --basic-extra-dark: #231f20;
  --basic-dark: #283136;
  --basic-neutral: #4d4d4d;
  --basic-dark-grey: #444444;
  --basic-grey: #666666;
  --basic-light: #e1e1e1;
  --basic-extra-light: #eeeeee;
  --basic-white: #ffffff;
  --pink-hover: #e74246;
  --pink-focus: #d7373b;
  --basic-green: #00ca74;
  --green-hover: #00bc6c;
  --green-focus: #00aa62;
  --basic-yellow: #efc849;
  --yellow-hover: #eab534;
  --yellow-focus: #e5a722;
  --basic-border: #d7dcde;
  --border-hover: #b4b9bb;
  --grey-hover: #dfdfdf;
  --grey-focus: #d5d5d5;
  --grey-border: #dbdbdb;

  --special: #fb565a;
}

body {
  min-width: 1140px;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.link {
  text-decoration: none;
}

.page {
  height: 100%;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 80px;
}

.main-header-bar {
 background-color: var(--basic-extra-light);
}

.inner-page .site-navigation {
  margin-bottom: 50px;
}

.inner-page .main-header-bar {
  height: 355px;
}

.inner-page .main-header {
  margin-bottom: 55px;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-right: 202px;
  padding-top: 49px;
}

.main-navigation {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  width: 1160px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  margin: 0 auto;
  padding: 0 10px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 437px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 75px;
}

.user-navigation {
  padding-top: 75px;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--special);
}

.site-navigation a:focus,
.user-navigation a:focus  {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.slider {
  background-color: var(--basic-extra-light);
  color: var(--basic-black);
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.slider h2 {
  color: var(--basic-black);
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  width: 538px;
  height: 111px;
}

.slider p {
  margin: 0;
  padding: 0;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 49px;
  width: 400px;
}

.slider .button {
  width: 240px;
  height: 50px;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-item {
  display: grid;
  grid-template-columns: 394px 1fr;
  grid-template-rows: 226px 75px 130px;
}

.slider-item img {
  width: 760px;
  height: 431px;
  grid-row-start: 1;
  grid-row-end: 4;
}

.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
}

.pattern {
  margin-left: 140px;
}

.button {
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background-color: var(--special);
  border-radius: 3px;
}

.button:focus {
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.button-pink:hover {
  background-color: var(--pink-hover);
}

.button-pink:focus{
  background-color: var(--pink-focus);
}

.button-green {
  background-color: var(--basic-green);
}

.button-green:hover {
  background-color: var(--green-hover);
}

.button-green:focus {
  background-color: var(--green-focus);
}

.button-yellow {
  background-color: var(--basic-yellow);
}

.button-yellow:hover {
  background-color: var(--yellow-hover);
}

.button-yellow:focus {
  background-color: var(--yellow-focus);
}

.services {
  margin-bottom: 121px;
}

.services-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 16px;
}

.services-item img {
  width: 300px;
  height: 146px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.services-item p {
  margin-left: 0;
  margin-bottom: 32px;
  width: 260px;
  height: 48px;
}

.services-item .button {
  width: 160px;
  height: 50px;
}

.index-columns {
  display: grid;
  grid-template-columns: 60% 30%;
  margin-bottom: 73px;
  gap: 60px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about h2 {
  color: var(--basic-black);
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 32px;
  margin-top: 34px;
  width: 651px;
}

.about h3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 23px;
}

.about p {
  margin-bottom: 40px;
  width: 646px;
}

.about-item {
  list-style: none;
  margin-bottom: 37px;
}

.about-list {
  margin: 0;
  padding: 0;
}

.illustration {
  margin-bottom: 31px;
}

.illustration img {
  width: 360px;
  height: 208px;
  margin: 0;
  margin-bottom: 37px;
}

.stats figcaption {
  color: var(--basic-black);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 360px;
}

.stats-list {
  display: flex;
  list-style: none;
}

.stats-item {
  line-height: 18px;
}

.stats-item p {
  text-align: left;
  margin: 0;
  margin-bottom: 11px;
  width: 119px;
}

.number {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
  width: 78px;
}

.percent {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  color: var(--basic-black);
  vertical-align: super;
  width: 20px;
}

.clients {
  margin-bottom: 80px;
}

.clients-item {
  list-style: none;
}

.clients-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 63px;
}

.contacts img {
  width: 100%;
  height: auto;
}

.contacts h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
}

.contacts p {
  color: var(--basic-grey);
  line-height: 18px;
}

.contacts .button {
  width: 219px;
  height: 50px;
}

.main-header h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  text-align: center;
  background-color: var(--basic-extra-light);
}

.filter .price-list {
  margin-bottom: 54px;
}

.price-item {
  list-style: none;
  line-height: 22px;
}

.filter p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-bottom: 48px;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-bottom: 13px;
}

.filter ul {
  list-style: none;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 43px;
}

.filter-input-radio:focus + label,
.filter-input-checkbox:focus + label {
  mix-blend-mode: normal;
  opacity: 0.3;
}

.filter .button {
  width: 260px;
  height: 50px;
}

.button-grey {
  background-color: var(--basic-extra-light);
  color: var(--basic-black);
}

.button-grey:hover {
  background-color: var(--grey-hover);
}

.button-grey:focus {
  background-color: var(--grey-focus);
  color: rgba(1, 1, 1, 0.3);
}

/* .sort {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
} */

.sort-item {
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
  text-transform: uppercase;
  text-align: left;
  padding-top: 5px;
}

.sort-item:hover {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.6;
}

.sort-item:focus {
  color: var(--basic-black);
}

.sort-item-current,
.sort-item-current:hover,
.sort-item-current:focus,
.sort-item-current:active {
  color: var(--basic-black);
}

.sort-list {
  display: grid;
  grid-template-columns: 399px 85px 86px 148px;
  margin-bottom: 48px;
  padding: 0;
}

.sort-list li:first-child{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: left;
  list-style: none;
}

.pattern-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
  list-style: none;
}

.pattern-list a {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
}

.pattern-list a:hover {
  color: var(--special);
}

.pattern-list a:focus {
  color: rgba(1, 1, 1, 0.3);
}

.pattern-item {
  width: 359px;
  min-height: 578px;
  margin-right: 41px;
  margin-bottom: 30px;
}

.pattern-item:nth-child(2n) {
  margin-right: 0;
}

.pattern-item h3 {
  text-align: center;
  margin-top: 26px;
  margin-bottom: 12px;
  font-weight: 700;
  line-height: 30px;
  font-size: 18px;
  text-transform: uppercase;
}

.pattern-item p {
  width: 255px;
  height: 37px;
  text-align: center;
  margin-left: 52px;
  margin-right: 53px;
  margin-bottom: 32px;
  color: var(--basic-grey);
  line-height: 18px;
}

.pattern-item img {
  width: 358px;
  height: 578px;
  margin: 0;
}

.pattern-item .button {
  width: 200px;
  height: 50px;
  margin-left: 80px;
  margin-bottom: 44px;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: var(--basic-black);
  line-height: 18px;
  font-weight: 500;
  background-color: var(--basic-extra-light);
  border-radius: 3px;
}

.pagination-item a:hover {
  color: var(--basic-black);
  background-color: var(--grey-hover);
}

.pagination-item a:focus {
  color: rgba(1, 1, 1, 0.3);
  background-color: var(--grey-focus);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: var(--basic-black);
  background-color: rgba(0, 0, 0, 0.0001);
  border: 3px solid var(--grey-border);
  border-radius: 3px;
}

.footer-social h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-black);
  text-align: center;
}

.footer-social p {
  line-height: 22px;
  color:var(--basic-dark-grey);
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: inherit;
  text-decoration: none;
}

.modal h2 {
  font-size: 45px;
  line-height: 52,73px;
  font-weight: 700;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 37px;
}

.modal .button-pink{
  width: 259px;
  height: 50px;
}

.text-form {
  font: inherit;
  color: var(--basic-black);
  line-height: 18px;
  font-weight: 700;
}

.text-form p {
  margin: 0;
  margin-bottom: 9px;
}

.text-form input[type="text"],
.text-form input[type="email"] {
  border: 2px solid var(--basic-border);
  border-radius: 3px;
}

.text-form input[type="text"]:hover,
.text-form input[type="email"]:hover {
  border: 2px solid var(--border-hover);
  border-radius: 3px;
}

.text-form input[type="text"]:focus,
.text-form input[type="email"]:focus {
  border: 2px solid var(--basic-black);
  border-radius: 3px;
}

.text-form input[type="text"]:invalid,
.text-form input[type="email"]:invalid {
  border: 2px solid var(--pink-hover);
  border-radius: 3px;
}

