:root {
  --basic-black: #000000;
  --basic-extra-dark: #231f20;
  --basic-dark: #283136;
  --basic-neutral: #4d4d4d;
  --basic-dark-grey: #444444;
  --basic-grey: #666666;
  --basic-light: #e1e1e1;
  --basic-extra-light: #eeeeee;
  --basic-white: #ffffff;
  --pink-hover: #e74246;
  --pink-focus: #d7373b;
  --basic-green: #00ca74;
  --green-hover: #00bc6c;
  --green-focus: #00aa62;
  --basic-yellow: #efc849;
  --yellow-hover: #eab534;
  --yellow-focus: #e5a722;
  --basic-border: #d7dcde;
  --border-hover: #b4b9bb;
  --grey-hover: #dfdfdf;
  --grey-focus: #d5d5d5;
  --grey-border: #dbdbdb;

  --special: #fb565a;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.link {
  text-decoration: none;
}

.page {
  height: 100%;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-bar {
 background-color: var(--basic-extra-light);
}

.main-navigation {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  width: 960px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--special);
}

.site-navigation a:focus,
.user-navigation a:focus  {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.slider {
  background-color: var(--basic-extra-light);
  color: var(--basic-black);
  width: 940px;
  margin: 0px auto 80px auto;
  padding: 0 10px;
}

.slider h2 {
  color: var(--basic-black);
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
}

.pattern {
  margin-left: 140px;
}

.button {
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background-color: var(--special);
  border-radius: 3px;
}

.button:focus {
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.button-pink:hover {
  background-color: var(--pink-hover);
}

.button-pink:focus{
  background-color: var(--pink-focus);
}

.button-green {
  background-color: var(--basic-green);
}

.button-green:hover {
  background-color: var(--green-hover);
}

.button-green:focus {
  background-color: var(--green-focus);
}

.button-yellow {
  background-color: var(--basic-yellow);
}

.button-yellow:hover {
  background-color: var(--yellow-hover);
}

.button-yellow:focus {
  background-color: var(--yellow-focus);
}

.services {
  margin-bottom: 80px;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  text-align: center;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.services-item p {
  margin: 0 10px;
}

.index-columns {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-bottom: 73px;
}

.about h2 {
  color: var(--basic-black);
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about {
  padding: 73px 0;
}

.illustration {
  padding: 39px 0;
}

.about h3 {
  font-weight: 700;
}

.about-item {
  list-style: none;
}

.illustration {
  text-align: right;
  font-weight: 700;
  color: var(--basic-black);
}

.stats-list {
  list-style: none;
}

.stats-item {
  text-align: right;
  line-height: 18px;
}

.number {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
}

.percent {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  color: var(--basic-black);
  vertical-align: super;
}

.clients {
  margin-bottom: 80px;
}

.clients-item {
  list-style: none;
}

.clients-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 63px;
}

.contacts img {
  width: 100%;
  height: auto;
}

.contacts h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
}

.contacts p {
  color: var(--basic-grey);
  line-height: 18px;
}

.main-header h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  text-align: center;
  background-color: var(--basic-extra-light);
}

.filter p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.price-item {
  list-style: none;
  line-height: 22px;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  line-height: 20px;
}

.filter-input-radio:focus + label,
.filter-input-checkbox:focus + label {
  mix-blend-mode: normal;
  opacity: 0.3;
}

.button-grey {
  background-color: var(--basic-extra-light);
  color: var(--basic-black);
}

.button-grey:hover {
  background-color: var(--grey-hover);
}

.button-grey:focus {
  background-color: var(--grey-focus);
  color: rgba(1, 1, 1, 0.3);
}

.sort {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
}

.sort-item {
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
  text-transform: uppercase;
  text-align: right;
}

.sort-item:hover {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.6;
}

.sort-item:focus {
  color: var(--basic-black);
}

.sort-item-current,
.sort-item-current:hover,
.sort-item-current:focus,
.sort-item-current:active {
  color: var(--basic-black);
}

.pattern-list {
  list-style: none;
}

.pattern-list h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.pattern-list a {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
}

.pattern-list a:hover {
  color: var(--special);
}

.pattern-list a:focus {
  color: rgba(1, 1, 1, 0.3);
}

.pattern-item p {
  color: var(--basic-grey);
  line-height: 18px;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: var(--basic-black);
  line-height: 18px;
  font-weight: 500;
  background-color: var(--basic-extra-light);
  border-radius: 3px;
}

.pagination-item a:hover {
  color: var(--basic-black);
  background-color: var(--grey-hover);
}

.pagination-item a:focus {
  color: rgba(1, 1, 1, 0.3);
  background-color: var(--grey-focus);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: var(--basic-black);
  background-color: rgba(0, 0, 0, 0.0001);
  border: 3px solid var(--grey-border);
  border-radius: 3px;
}

/* .main-footer {
  padding: 68px 0;
} */

.footer-social h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-black);
  text-align: center;
}

.footer-social p {
  line-height: 22px;
  color:var(--basic-dark-grey);
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: inherit;
  text-decoration: none;
}

.modal h2 {
  font-size: 45px;
  line-height: 52,73px;
  font-weight: 700;
  color: var(--basic-black);
}

.text-form {
  font: inherit;
  color: var(--basic-black);
  line-height: 18px;
  font-weight: 700;
}

.text-form input[type="text"],
.text-form input[type="email"] {
  border: 2px solid var(--basic-border);
  border-radius: 3px;
}

.text-form input[type="text"]:hover,
.text-form input[type="email"]:hover {
  border: 2px solid var(--border-hover);
  border-radius: 3px;
}

.text-form input[type="text"]:focus,
.text-form input[type="email"]:focus {
  border: 2px solid var(--basic-black);
  border-radius: 3px;
}

.text-form input[type="text"]:invalid,
.text-form input[type="email"]:invalid {
  border: 2px solid var(--pink-hover);
  border-radius: 3px;
}

